PORT=5000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/solana_admin_portal
# Alternative split DB config if you prefer not to set DATABASE_URL directly:
# DB_DIALECT=postgresql
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=solana_admin_portal
# DB_USER=postgres
# DB_PASSWORD=postgres
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10
AUTO_GENERATE_PRISMA=true
AUTO_SYNC_DB=true
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=Admin@123
DEFAULT_MAKER_EMAIL=maker@example.com
DEFAULT_MAKER_PASSWORD=Maker@123
DEFAULT_CHECKER_EMAIL=checker@example.com
DEFAULT_CHECKER_PASSWORD=Checker@123
DEFAULT_EXECUTOR_EMAIL=executor@example.com
DEFAULT_EXECUTOR_PASSWORD=Executor@123

SOLANA_RPC_URL=http://127.0.0.1:8899
SOLANA_COMMITMENT=confirmed
SOLANA_PROGRAM_ID=49fwAJRLMtbCLLqZDZTBKZtwDaBTgm1oA1FWnidYDQJp
SOLANA_PROGRAM_IDL_PATH=dk-token/target/idl/dk_token.json
SOLANA_CONFIG_ADDRESS=
SOLANA_CONFIG_KEYPAIR_PATH=/home/tandin/.config/solana/dk-config.json
SOLANA_ADMIN_KEYPAIR_PATH=/home/tandin/.config/solana/admin.json
SOLANA_MAKER_KEYPAIR_PATH=/home/tandin/.config/solana/maker.json
SOLANA_CHECKER_KEYPAIR_PATH=/home/tandin/.config/solana/checker.json
SOLANA_AUTO_BOOTSTRAP=true
SOLANA_BOOTSTRAP_MODE=strict

BIPS_BASE_URL=http://sit-adapter.dk.bt
BIPS_TIMEOUT_MS=45000
BIPS_API_USER_ID=DKBLUSER
BIPS_API_PASSWORD=
BIPS_CLIENT_ID=DKBL
BIPS_CHANNEL_TYPE=API
BIPS_ACCINQ_API_KEY=ACCINQ
BIPS_IMPSCR_API_KEY=IMPSCR
BIPS_SOURCE_BANK_CODE=1060
BIPS_SOURCE_BIN_NUMBER=667707
BIPS_SOURCE_PAN_NUMBER=94009405
BIPS_RECONCILE_BATCH_LIMIT=20
BIPS_RECONCILE_INCLUDE_MANUAL_REVIEW=false
